.modal-header {
    padding: 0.5rem 0.5rem !important;
}

.modalLogo #dlogo {
    background-image: url("/TemplateMain/app-assets/images/portrait/small/moil.png");
    width: 130px;
    height: 50px;
    background-size: 47px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
}
