@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@* main-menu material-menu menu-fixed menu-dark menu-accordion menu-shadow *@



<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">

    <div class="main-menu-content">
        <ul class="float-right" style="height:15px; margin-right:8px;">
            <li class="nav-item">
                <a class="nav-link nav-menu-main menu-toggle" style="font-size: 1.6rem; text-decoration:none; color:white; float:right" href="#"><i class="fas fa-arrow-left" title="Menü Aç/Kapat"></i></a>
            </li>



        </ul>
        <br />
        <br />

        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">



            <li class="nav-item">
                <a href="/Home/Index"><i class="fas fa-box" style="font-size: 18px; "></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Home Page</span></a>
                <ul class="menu-content">

                    <li>
                        <a href="/Product/Index"><i class="fas product-cat" style="font-size: 18px; "></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Product</span></a>
                    </li>

                    <li>
                        <a href="/Campaign/Index"><i class="fas fa-list" style="font-size: 18px; "></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Campaign</span></a>
                    </li>

                    <li>
                        <a href="/Order/Index"><i class="fas fa-shopping-basket" style="font-size: 18px; "></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Shopping</span></a>
                    </li>

                    <li>
                        <a href="/Order/ShoppingList"><i class="fas fa-list" style="font-size: 18px; "></i>&nbsp;&nbsp;<span class="menu-title" data-i18n="Calendar">Order List</span></a>
                    </li>

                </ul>
            </li>




        </ul>
    </div>
</div>


