
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<ECommerceProject.Contract.ResponseModel.Product.ProductResponseModel>

<style>
    /* #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }*/
    .btn-warning {
        border-color: #ff9149 !important;
        background-color: #ff9149 !important;
        color: #FFFFFF;
    }

    #searchbar {
        margin-left: 15%;
        padding: 15px;
        border-radius: 10px;
    }

    input[type=text] {
        /*width: 30%;*/
        -webkit-transition: width 0.15s ease-in-out;
        transition: width 0.15s ease-in-out;
    }

        /* When the input field gets focus,
        change its width to 100% */
        input[type=text]:focus {
            /*width: 70%;*/
        }

    #list {
        font-size: 1em;
        /*margin-left: 90px;*/
        list-style: none;
    }

    .oilproducts {
        /*display: list-item;*/
    }

    /*.prodiv {
        display: list-item;
    }*/
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    ul, #treeUL {
        list-style-type: none;
    }

    #treeUL {
        margin: 0;
        padding: 0;
    }

    .rootTree {
        cursor: pointer;
        user-select: none;
        /*font-size: 18px;*/
        font-weight: bold;
        color: #3a3d47;
        font-size: 14px;
        /*color: blue;*/
    }

    li {
        /* font-size: 14px;
        color: #6b6f82;*/
        font-size: 16px;
        color: crimson;
        font-weight: 500;
    }

    .rootTree::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

    .rootTree-down::before {
        transform: rotate(90deg);
    }

    .children {
        display: none;
        color: yellow;
    }

    .active {
        display: block;
    }

    #treeUL a {
        color: #6b6f82 !important;
    }

        #treeUL a:hover, #treeUL a:focus {
            text-decoration: none;
            color: #f44336 !important;
        }
</style>


<link rel="apple-touch-icon" href="~/TemplateMain/app-assets/images/ico/apple-icon-12077.png">
<link rel="shortcut icon" type="image/x-icon" href="~/TemplateMain/app-assets/images/ico/favicon-total.png">
@*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">*@
<link href="~/css/font.css" rel="stylesheet" />


<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/material-vendors.min.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/extensions/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/ui/prism.min.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/vendors/css/forms/icheck/icheck.css">
<!-- END: Vendor CSS-->
<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/material.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/material-extended.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/material-colors.css">
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->

<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/plugins/extensions/noui-slider.min.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/core/colors/palette-noui.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/pages/ecommerce-shop.css">
<link rel="stylesheet" type="text/css" href="~/TemplateMain/app-assets/css/plugins/forms/checkboxes-radios.css">
<!-- END: Page CSS-->

<div class="content-detached content-right">
    <div class="content-body">
        <div class="product-shop">
            <div class="card">
                <div class="card-body">
                    <span class="shop-title">Ürünler</span>
                    <span class="float-right">
                        <span class="result-text mr-1"><a href="/OilProduct/TempBasket" class="btn btn-info" style="background-color:#4b96cd !important"><i class="fas fa-shopping-basket" style="font-size: 18px; "></i>   Sepetime Git</a></span>

                    </span>
                </div>
            </div>
            <div class="row match-height">
                <div class="col-12" id="partialOilProductList">
                    @await Html.PartialAsync("~/Views/Order/_PartialProductList.cshtml", Model)

                </div>



            </div>
        </div>
    </div>
</div>
<div class="sidebar-detached sidebar-left">
    <div class="sidebar" @*style="position: fixed"*@>
        <div class="sidebar-content d-none d-lg-block sidebar-shop">
            <div class="card">
                <div class="card-body">
                    <div class="search">
                        <input id="basic-search" type="text" onkeyup="search_oil()" placeholder="Ara" name="search" class="basic-search">
                        <i class="ficon ft-search"></i>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="categories-list">
                        <div class="category-title pb-1">
                            <h4 class="card-title mb-0"><b>Kategoriler</b></h4>
                            <hr>
                        </div>
                        <div class="product-cat" id="categories">


                            <ul id="treeUL">
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="categories-list">
                        <div class="category-title pb-1">
                            <h4 class="card-title mb-0"><b>Sıralama</b></h4>
                            <hr>
                        </div>
                        <div class="product-cat" id="sorting">
                            <div class="col-12">
                                <form id="getOilProductFilterById">
                                    <div class="col-md-12">
                                        <select class="form-control" required name="FilterCategoryNames" id="FilterCategoryName">
                                        </select><br />

                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>

                    <!-- /Featured Image -->
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="categories-list">
                        <div class="category-title pb-1">
                            <h4 class="card-title mb-0"><b>Filtreleme</b></h4>
                            <hr>
                        </div>
                        <div class="product-cat" id="sorting">
                            <form id="getOilProductByUnitType">

                                <div class="form-group col-12">
                                    <label for="inputCity">Birim Listesi <span style="color:red">*</span></label>
                                    <select class="form-control select2" name="UnitTypeName" id="UnitTypeId">
                                        <option value="">Seçiniz</option>


                                    </select>
                                </div>

                                <div class="form-group" style="text-align:center">
                                    <button class="btn btn-info" type="submit" style="background-color:#4b96cd !important"><i class="fas fa-search"></i> Sorgula</button>

                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="categories-list">
                        <div class="category-title pb-1">
                            <h4 class="card-title mb-0"><b>Filtreleme</b></h4>
                            <hr>
                        </div>
                        <div class="product-cat" id="sorting">
                            <form id="getOilProductByPrice">
                                <div class="form-group row">
                                    <div class="form-group col-6">
                                        <label for="inputCity">Min Fiyat <span style="color:red">*</span></label>
                                        <input type="number" class="form-control" name="MinPrice" id="MinPrice" value="" placeholder="0.00 ₺" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="inputCity">Max Fiyat <span style="color:red">*</span></label>
                                        <input type="number" class="form-control" name="MaxPrice" id="MaxPrice" value="" placeholder="0.00 ₺" />
                                    </div>
                                </div>

                                <div class="form-group" style="text-align:center">
                                    <button class="btn btn-info" type="submit" style="background-color:#4b96cd !important"><i class="fas fa-search"></i> Sorgula</button>

                                </div>
                            </form>

                        </div>
                    </div>

                    <!-- /Featured Image -->
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/TemplateMain/app-assets/vendors/js/material-vendors.min.js"></script>
<!-- BEGIN Vendor JS-->
<!-- BEGIN: Page Vendor JS-->
<script src="~/TemplateMain/app-assets/vendors/js/ui/prism.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/extensions/jquery.raty.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/extensions/jquery.cookie.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/extensions/jquery.treeview.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/extensions/wNumb.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/extensions/nouislider.min.js"></script>
<script src="~/TemplateMain/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- END: Theme JS-->
<!-- BEGIN: Page JS-->
<script src="~/TemplateMain/app-assets/js/scripts/pages/material-app.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/pages/content-panel-sidebar.js"></script>
<script src="~/TemplateMain/app-assets/js/scripts/pages/ecommerce-product-shop.js"></script>

<script src="~/fontawesome-free-5.15.4-web/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.3.0/jquery.bootstrap-touchspin.js" integrity="sha512-k59zBVzm+v8h8BmbntzgQeJbRVBK6AL1doDblD1pSZ50rwUwQmC/qMLZ92/8PcbHWpWYeFaf9hCICWXaiMYVRg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/lib/blockUI/blockUI.js"></script>